.transactions {
  padding: .7rem .5rem;
  .scrolling {
    height: 100%;
    overflow-y:auto;
    .single-transaction {
      font-size: .9rem;
      margin-top: .2rem;
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: .5rem 0;
      &::before {
        content: "";
      }
      &::after {
        content:"";
      }
    }
  }
}